@model Dama.Web.Models.ViewModels.Editor.CalendarEditorViewModel

<script type="text/javascript">
    function GetActivityData(v)
    {
         return $.ajax(
                {
                    url: "/CalendarEditor/GetActivityDetails?activityTypeName=" + '@Model.SelectedType' + "&activityId=" + $(v).val(),
                    type: 'GET',
                    data: "",
                    success: function (data)
                    {
                        $("#ActivityDetailsPartial").html(data);
                    },
                    error: function (jqxhr, status, exception)
                    {
                        alert('Exception in GetActivityData.cshtml in GetActivityData function: ' + exception);
                    }
                }
            );
    }

    $(document).ready(function () {
        $("#activityListBox").on("change", function () {
            GetActivityData("#activityListBox");
        });
    });
</script>
<div class="form-group">
    @Html.LabelFor(m => m.SelectedActivityCollection, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.ListBoxFor(m => m.SelectedActivityCollection, Model.ActivityCollectionForActivityTypes, new { @class = "form-control", @style = "height: 300px", id = "activityListBox" })
    </div>
</div>