
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h5 class="text-primary">
    Készítette: Tóth Balázs<br>
    Neptun kód: XJJ9MK<br>
    Email: tothbalazs@live.com<br>
    Tárgy: Szakdolgozat II<br>
    Konulens: Dr. Kertész Gábor
</h5>

