
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h4>
    <p>
        Author: Balazs Toth<br>
        Contact: tothbalazs@live.com<br>
        Note: 1600 x 900 resolution is suggested the site to be displayed correctly!
</h4></p>

