@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <style>

        div {
            text-align: justify;
            text-justify: inter-word;
        }
    </style>
</head>
    <body>

        @{
            ViewBag.Title = "Daily Activity Management Application";
        }

        <h2 class="text-center" style="color:orangered"><b>@ViewBag.Title</b></h2>

        <h4 class="text-center" style="color:orangered"><b>Welcome on OE-NIK DAMA website!</b></h4>

        <p class="nav-justified">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id lorem eu velit tempor fermentum. Pellentesque suscipit nunc ac venenatis hendrerit. Praesent eget risus sed diam rhoncus feugiat et et odio. In luctus egestas leo, nec pellentesque velit ornare in. Fusce sagittis purus nibh, quis viverra est tempor sit amet. Vestibulum non malesuada mauris, a posuere sapien. Nulla fringilla facilisis dolor, eu malesuada ex bibendum ac. Nulla tincidunt suscipit tristique. Mauris nulla ipsum, tristique vitae mi eget, efficitur lacinia elit. Nunc consectetur finibus orci, nec dignissim tellus auctor sit amet. Morbi neque urna, placerat eu rhoncus vitae, tincidunt sed quam.
            Donec sagittis, velit ut egestas interdum, arcu orci tempor lectus, ultricies viverra diam odio nec mauris. Vivamus quis dolor lacinia, eleifend eros eget, tempus quam. Curabitur eu iaculis sem. Integer sed facilisis odio. Sed in diam arcu. Aliquam porttitor lacus at diam feugiat, vel auctor nisl viverra. Donec semper iaculis est, at consectetur est. Donec at magna metus. Sed nec dui iaculis, congue lectus id, feugiat dui. Cras malesuada tortor consequat, finibus ligula vel, iaculis ligula. Praesent at lorem in nunc elementum accumsan sit amet sit amet ante. Duis ac porttitor ipsum. Sed pretium quam ac enim porta, varius luctus lacus sagittis.
        </p>
        <p>
            Curabitur faucibus pulvinar lectus, sit amet efficitur ex ultrices in. Cras ipsum lacus, viverra sed lectus vitae, volutpat finibus sem. Praesent luctus lacus orci, a blandit ante finibus non. Donec diam mauris, auctor non consequat vitae, dictum eu mi. Praesent nec pretium urna, non placerat urna. Morbi nibh tortor, pretium eu elementum nec, ornare eu nibh. Duis sit amet mollis eros, id molestie dui. Duis eleifend eros nec ante venenatis fringilla. Etiam suscipit nibh non diam suscipit egestas. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus maximus odio purus, in congue augue cursus tincidunt. Mauris mollis mauris vitae suscipit sodales. Mauris lobortis nisi ac nunc tincidunt ultricies. Nullam eros ex, ultrices at odio in, scelerisque vehicula ex. In at fermentum arcu.
            Curabitur tempor turpis quis quam consequat, eget condimentum mi luctus. Etiam nec scelerisque tortor, quis varius libero. Vivamus tempor enim in metus eleifend, ut molestie leo posuere. Etiam rutrum feugiat nulla a ornare. Vivamus sollicitudin nibh in vehicula mattis. Phasellus non magna in justo hendrerit pulvinar non et justo. Proin bibendum, purus sed congue placerat, eros lacus porttitor magna, nec facilisis dolor purus ac lectus. Phasellus accumsan facilisis semper. Etiam ornare ante ut massa porta rutrum. Nullam nec gravida dui. Vivamus porta placerat venenatis. Curabitur scelerisque aliquam arcu, sed interdum augue.
        </p>
        <p>
            Nunc sit amet condimentum magna. Mauris lacus augue, finibus ut aliquam et, gravida sit amet augue. Phasellus dapibus purus eget ante consectetur elementum. Pellentesque dapibus neque eget nisl suscipit laoreet. Sed ac ultrices tellus, pellentesque dapibus ante. Aliquam facilisis molestie nulla ut semper. Duis volutpat aliquam mauris, at sollicitudin velit fringilla nec. Sed pretium dignissim odio vitae posuere. Pellentesque molestie eleifend mollis. Ut ac purus purus. Morbi a nibh libero. Donec at finibus ex, eget egestas quam. Donec lectus orci, laoreet a sollicitudin id, tempor in elit. Ut placerat turpis eget ipsum imperdiet, at pretium odio feugiat.
        </p>
    </body>
</html>